.container {
	width: 95vw;
	height: 95vh;
}

.elemental-node {
	font-size: 15px;
	box-sizing: border-box;
	padding: 4px 5px;
	border-radius: 10px;
	height: 50px;
	width: 210px;
	font-weight: bold;
	text-align: center;
	border: 3px solid #154360;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 35px 0;

	&:hover {
		filter: brightness(90%);
	}
}

.normal-node {
	background: #d4e6f1;
	color: #566573;
}

.link-node {
	background: #3498db;
	color: #fdfefe;
}

.elemental-node--hover {
	display: none;
	position: absolute;
	background: black;
	padding: 5px;
	left: 20px;
	top: 0;
	width: max-content;
	height: 20px;
	z-index: 99;
}

.doc-link {
	margin: 0;
	font-weight: normal;

	&:hover {
		color: #154360;
	}
}

.rd3t-link {
	fill: none;
	stroke: red;
	stroke-width: 2px;
}
